out/**
dump/**
.svn/**
.unittest/**
profiler/**
site/
run.js
run.jar
run.n
flame.json
lcov*.info
coverage.xml
*.cpuprofile
coverage.json
tests/.missing-data.json
jacoco-coverage.xml
emma-coverage.xml
codecov.json
